h2 a {
	text-decoration: none;
	position: relative;
	color: #8a143a;
}

h2 a::before {
	content: "";
	bottom: 0;
	width: 0;
	height: 0.1rem;
	position: absolute;
	transition: 1.0s cubic-bezier(0.19, 0.67, 0, 1.01);
}

a:hover::before {
	left: 0;
	background-color: #8a143a;
	width: 100%;
}